---

- name: Check if rustup is installed
  ansible.builtin.command: cargo --version
  ignore_errors: true
  changed_when: false
  register: _rust_installed
  tags:
    - rust

- name: Install rust if needed
  when: _rust_installed.rc == 2
  tags:
    - rust
  block:
    - name: Create tempdir for rustup
      ansible.builtin.tempfile:
        state: directory
      register: _rustup

    - name: Save rust up script
      ansible.builtin.get_url:
        url: "https://sh.rustup.rs"
        dest: "{{ _rustup.path }}"
        mode: "0755"

    - name: Run rustup
      ansible.builtin.shell: |
        cat {{ _rustup.path }}/rustup-init.sh | sh -s -- -y
      args:
        creates: "/home/{{ user_setup_user }}/.config/fish/conf.d/rustup.fish"

  always:

    - name: Ensure tmp dir is removed
      ansible.builtin.file:
        state: absent
        path: "{{ _rustup.path }}"
      when: _rustup.path is defined

